* {
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  color: white;
  background-color: rgb(0, 6, 32);
}

h1 {
  text-align: center;
  margin-bottom: 80px;
}

div {
  display: inline;
}

.center-wrapper {
  max-width: 1024px;
  margin: 80 auto;
  padding: 0 16px;
}

.auto-column-grid {
  display: grid;
  grid-auto-flow: column;
  place-items: center;
  margin-bottom: 100px;
}